

body {
    text-align: center;
    background-color: #FFF4AE;
    
}

.header {
    color: #510A52;
    font-size: 5rem;
}

main {
    min-height: calc(100vh - 40px);
}

a{
    text-decoration: none;
}
li {
    list-style-type: none;
    padding: 15px;
}

.size {
    max-width: 700px;
}