
/* styling, positioning */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: radial-gradient(at 18% 99%, rgb(223, 229, 113) 0px, transparent 50%) repeat scroll 0% 0%, 
    radial-gradient(at 97% 8%, rgb(118, 249, 173) 0px, transparent 50%) repeat scroll 0% 0%, 
    radial-gradient(at 79% 82%, rgb(233, 109, 131) 0px, transparent 50%) repeat scroll 0% 0%,
    radial-gradient(at 96% 10%, rgb(222, 81, 251) 0px, transparent 50%) repeat scroll 0% 0%,    
    radial-gradient(at 42% 20%, rgb(116, 240, 251) 0px, transparent 50%) repeat scroll 0% 0%,
    radial-gradient(at 4% 49%, rgb(203, 88, 218) 0px, transparent 50%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(218, 83, 228) 0px, #a299ff 50%) repeat scroll 0% 0%;
}
    

main{
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 , h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px;
    max-width: 1000px;
}

h2, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about {
    margin: 10px;
    padding: 40px;
    font-size: 1rem;
    max-width: 650px;
} 

.logo{
    font-size: 50px;
}

li{
    list-style-type: none;
    text-decoration: none;
}
footer > div, header > div {
    text-align: center;
    margin: 10px;
}
.foodlogo {
    font-size: 50px;
    font-family: 'Krub', sans-serif;
    color: black;
}
a{
    cursor: pointer;
    text-decoration: none;
}
/*carousel*/
.wrapper {
    width: 100%;
    max-width: 270px;
    position: relative;
}

.flex-container {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

.container {
    min-width: 282px;
    text-align: center;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

.flex-container::-webkit-scrollbar {
    height: 0;
}


.btn-left,
.btn-right {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(252, 252, 252);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

.btn-left { 
    left: 0;
    transform: translate(50%, -50%);
    display: none;
    
}

.btn-right {
    right: 0;
    transform: translate(-50%, -50%);
}

img{
    width: 260px;
}
