

body {
    text-align: center;
    background-color: lightblue;
    
}


main {
    min-height: calc(100vh - 40px);
}

.header {
    font-size: 5rem;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
    padding: 15px;
}
.size {
    max-width: 700px;
}