

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
    
}


main {
    min-height: calc(100vh - 40px);
}

.header {
    font-size: 5rem;
}
